/* src/HomePage.css */

.home-page {
    background-color: black;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Optional: to ensure any text is visible */
}
